html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.wp {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  xxbackground-color: #b0e2f2;
}

.myheader {
  flex: 1;
  display: flex;
  flex-direction: rows;
  border-bottom: 1px solid black;

  xxbackground-color: #abf2b9;
}

.logocoaster {
  flex: 1;
  
  height: 60%;
  position: relative;
  left: 10px;
  top: 10px;

  display: flex;
  justify-content: center;
  align-items: center; 

  xxbackground-color: #eaea9a;
}

.namelogo {
  width: 70%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  /* no idea how to get copperplate font  */
  xxfont-family: wedge, serif;
  font-size: 90%;


  xxbackground-color: orange;
}

.mhspace {
  flex: 1;

  xxbackground-color: orange;
}

.rheader {
  flex: 7;

  display: flex;
  flex-direction: column;

  xxborder: 2px solid red;
}

.topspace {
  flex: 3;
}

.itemsdiv {
  flex: 2;
  
  display: flex;
  flex-direction: row;

  xxbackground-color: #ff75ff;
}

.items {
  flex: 3;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  transition: 0.5s;

  xxborder: 1px solid red;
}

.icons {
  display: none;
}


.itemselected {
  flex: 3;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: large;
  border-bottom: 1px solid black;
  background-color: #eae6e6;
  border-radius: 5%;
  xxtransition: 0.5s;
}

.items:hover {
  flex: 3;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 105%;
  transition: 0.7s;
}




.screenspace {
  flex: 7;
  border-bottom: 1px solid black;

  xxbackground-color: pink;
}

.mypicdiv {
  height: 95%;
  width: 100%;
}

img {
  height: 100%;
  width: 100%;
}

.basic {
  display: flex;
  height: 100%;
  width: 100%;
}

.shown {
  display: block;
}

.hide {
  display: none;
}




.screenbottom {
  flex: 1;
  
  xxbackground-color: #ff0026;
}


/* 
at phone or ipad width, I want to change my landing page image I think

can I change html at certain width too?

ehhh, menu button might be the way to go (hamburger menu)

*/

@media only screen and (max-width: 750px) {

  .topspace {
    flex: 2;
  }

  .items {
    display: none;
  }

  .icons {
    display: block;

    flex: 3;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    transition: 0.5s;
  }

  .iconselected {
    flex: 3;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 120%;
    border-bottom: 1px solid black;
    background-color: #eae6e6;
    border-radius: 2%;
    transition: 0.5s;
  }

  .icons:hover {
    flex: 3;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 120%;
    transition: 0.7s;
  }
  
}








/* TIC TAC TOE CSS INCOMING  */

.background {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom right, #0da1c9, #ff99e9, #ff8ae9);
}

.header {
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 45px;
  color: white;
}

.directions {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
  color: white;
}

.griddiv {
  margin: 100px;
}

.square {
  height: 350px;
  width: 350px;
  xxbackground: transparent;
  padding: 20px;
  padding-top: 12px;
  padding-bottom: 10px;
}

.middle {
  display: grid;
  margin: auto;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 110px);
  grid-template-rows: repeat(3, 110px);
}

.blank {
  background: white;
}


.xTurn {
  background: #ff0000;
  color: white;
  text-align: center;
  padding-top: 10px;
  font-family: sans-serif;
  font-size: 80px;
}

.oTurn {
  background: #0000fa;
  color: white;
  text-align: center;
  padding-top: 10px;
  font-family: sans-serif;
  font-size: 80px;
}
/* End of tic tac toe css  */








/* FALLING BALL CSS INCOMING */
.ball {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: relative;
  top: 0px;
  left: 0px;
  background-color: #0079f2;
  animation-name: fallball;
  animation-duration: 2.8s;
  xxanimation-timing-function: linear;
  animation-timing-function: cubic-bezier(1, 1, 1, 1);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.wallball {
  height: 100%;
  width: 1px;
  background-color: black;
  position: relative;
  left: var(--actualwall);
  
}

@keyframes fallball {

  14%, 42%, 66%, 86%  {
      top: var(--groundlevel);
      animation-timing-function: ease-out;
  }

  29% {
      top: 70px;
      animation-timing-function: ease-in;
  }

  54% {
      top: 140px;
      animation-timing-function: ease-in;
  }

  76% {
      top: 210px;
      animation-timing-function: ease-in;
  }

  92% {
    top: 280px;
    animation-timing-function: ease-in;
  }

  100% {
      top: var(--groundlevel);
      animation-timing-function: ease-out;
      left: var(--farwall);
  }

}

:root {
  --groundlevel: 361px;
  --farwall: 82.4%;
  --actualwall: 90.3%;
}
/* End of falling ball CSS  */





/* SNOWMAN CSS  */
.snowmancontainer {
  height: 90%;
  width: 100%;
}
/* End of snowman CSS  */




/* TIC TAC 2.0000 CSS INCOMING  */
.zbackground {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom right, #52d6fc, #52d6fc);
}

.zheader {
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 45px;
  color: white;
}

.zdirections {
  width: 50%;
  margin: auto;
  text-align: center;
  xxmargin-bottom: 10px;
  color: white;
}

button {
  font-size: 12px;
}

.buttoncoaster {
  text-align: right;
  position: relative;
  right: 150px;
  bottom: 30px;
}

.zgriddiv {
  margin: 100px;
}

.zsquare {
  height: 350px;
  width: 350px;
  background: transparent;
}

.zmiddle {
  display: grid;
  margin: auto;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 110px);
  grid-template-rows: repeat(3, 110px);
}

.zblank {
  background: floralwhite;
  border-radius: 5%;
}

.zblank:hover {
  background-color: #e6eeef;
}




.zxTurn {
  background: #ff0000;
  /* #66f3f5  */
  color: white;
  border-radius: 5%;
  text-align: center;
  padding-top: 10px;
  font-family: sans-serif;
  font-size: 80px;
}

.zoTurn {
  background: #0000fa;
  /* #51d709 */
  color: white;
  border-radius: 5%;
  text-align: center;
  padding-top: 10px;
  font-family: sans-serif;
  font-size: 80px;
}


.won {
  background: #96d35f;
  color: white;
  border-radius: 5%;
  text-align: center;
  padding-top: 10px;
  font-family: sans-serif;
  font-size: 80px;
}

.winnerMessage {
  width: 50%;
  margin: auto;
  text-align: center;
  xxmargin-bottom: 10px;
  color: white;
  xxfont-size: 15px;
  border-bottom: 1px solid white;
}

.unclickable {
  pointer-events: none;
}
/* End of tic tac 2.0 CSS  */
